.expense-index {
  @include fullPage;
  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;

  .expenses-container {
    overflow-y: scroll;

    padding: em(20px) em(40px);
    border-top-right-radius: $cmp-br;
    background-color: $main-bg-clr;

    // Hiding scrollbar
    &::-webkit-scrollbar {
      display: none;
    }

    .expenses-header {
      position: sticky;
      top: 0;
      background-color: $main-bg-clr;
      z-index: 1;
    }

    a {
      display: inline-block;
      width: fit-content;

      .btn-add-expense {
        @include scalableBtn;
        @include btnTheme(14px, 14px);

        border-radius: $el-br;
        margin-block-end: em(10px);

        font-size: 1.6em;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($main-theme-clr, 10%);
        }

        &::after {
          font-family: faSolid;
          content: '\2b';
        }

        &:disabled {
          @include disabledBtn;
        }
      }
    }

    .no-expenses {
      font-size: em(16px);
    }
  }

  .chart-container {
    padding: em(20px) em(40px);
    border-top-left-radius: $cmp-br;
    background-color: $main-bg-clr;
  }
}
