.expense-index {
  @include fullPage;
  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;

  @include for-narrow-layout {
    grid-template-columns: 1fr;

    &.statistics-open {
      .backdrop {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100dvh;

        background-color: rgba(41, 41, 41, 0.725);
        backdrop-filter: blur(1px);
        z-index: 2;
      }
    }
  }

  .backdrop {
    display: none;
  }

  .expenses-container {
    @include hideScrollBar;
    overflow-y: scroll;

    padding: em(20px) em(30px);
    border-top-right-radius: $cmp-br;
    background-color: $main-bg-clr;

    .expenses-header {
      position: sticky;
      top: 0;
      background-color: $main-bg-clr;
      z-index: 1;
    }

    .total-container {
      margin-block-end: em(14px);

      .total-expenses {
        gap: 8px;
        font-size: 1.6em;

        @include for-mobile-layout {
          flex-direction: column;
        }

        span {
          font-size: 2rem;
          font-family: FigtreeBold;
        }
      }

      .btn-container {
        gap: em(20px);

        @include for-mobile-layout {
          gap: em(10px);
        }

        a {
          display: inline-block;
          width: fit-content;

          .btn-add-expense {
            @include scalableBtn;
            @include btnTheme(14px, 14px);

            border-radius: $el-br;

            font-size: 1.6em;
            transition: background-color 0.3s;

            &:hover {
              background-color: darken($main-theme-clr, 10%);
            }

            &::after {
              font-family: faSolid;
              content: '\2b';
            }

            &:disabled {
              @include disabledBtn;
            }
          }
        }

        .btn-statistics {
          @include scalableBtn;
          border-radius: $el-br;

          font-size: 1.6em;
          color: $main-theme-clr;
          background-color: transparent;

          opacity: 0;
          pointer-events: none;
          transition: background-color 0.3s;

          &:hover {
            color: darken($main-theme-clr, 10%);
          }

          @include for-narrow-layout {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }

    .no-expenses {
      font-size: em(24px);
      padding-inline-start: 3px;
    }
  }

  .statistics-container {
    @include hideScrollBar;

    height: 100%;
    overflow-y: scroll;
    position: relative;

    padding: em(20px) em(32px);
    border-top-left-radius: $cmp-br;
    background-color: $main-bg-clr;

    @include for-narrow-layout {
      position: fixed;
      top: $app-header-height;
      right: 0;

      width: 70vw;
      border-radius: 0;

      box-shadow: $main-box-shadow;
      transition: transform 1s;
      transform: translateX(100%);
      z-index: 10;

      &.open {
        transform: translateX(0);
      }
    }

    @include for-small-layout {
      width: 100vw;
      box-shadow: none;
    }
  }
}
