.expense-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;

  padding: em(12px) em(24px);
  background-color: $main-bg-clr;

  a {
    display: inline-block;
    width: fit-content;
    .btn-add-expense {
      @include scalableBtn;
      @include btnTheme(14px, 14px);

      border-radius: $el-br;
      margin-block-end: em(10px);
      font-size: 1.6em;

      &::after {
        font-family: faSolid;
        content: '\2b';
      }
    }
  }
}

.loading-msg {
  font-size: em(24px);
}
