.login-page {
  @include fullPage;
  background-color: $main-bg-clr;

  .login-header {
    line-height: 1.5;
    margin-block-end: 20px;
    padding-inline: 10px;

    .title-container {
      gap: em(10px);

      .main-heading {
        font-family: FigtreeBold;
        font-size: em(40px);

        @include for-small-layout {
          font-size: em(32px);
        }

        @include for-mobile-layout {
          font-size: em(24px);
        }
      }
    }

    .secondary-heading {
      font-family: FigtreeRegular;
      font-weight: normal;
      font-size: em(18px);
      text-align: center;

      @include for-small-layout {
        font-size: em(16px);
      }

      @include for-mobile-layout {
        font-size: em(14px);
      }
    }
  }

  form {
    gap: 10px;
    width: 600px;

    @include for-small-layout {
      width: 400px;
    }

    @include for-mobile-layout {
      width: 300px;
    }

    .input-container {
      position: relative;
      gap: 3px;
      font-size: em(16px);

      input {
        border: 1px solid $secondary-font-clr;
        padding: 10px 5px;
      }

      .btn-toggle-password {
        position: absolute;
        right: 5px;
        top: 50%;
        background-color: transparent;

        &::after {
          font-family: faSolid;
          content: '\f06e';

          font-size: 1.4em;
          color: $main-font-clr;
          transition: color 0.2s;
        }

        &.active {
          &::after {
            color: $main-theme-clr;
          }
        }
      }
    }

    .btn-submit {
      @include btnTheme;
      @include scalableBtn;

      margin-block-start: 20px;
      font-size: em(16px);

      &:hover {
        background-color: darken($main-theme-clr, 15%);
      }
    }
  }

  .already-user {
    align-items: baseline;
    gap: 5px;

    margin-block-start: 10px;

    font-family: FigtreeRegular, sans-serif;
    font-size: em(16px);

    .btn-toggle {
      cursor: pointer;
      color: $main-theme-clr;
    }
  }

  .btn-guest {
    font-size: em(16px);
    font-family: FigtreeMedium;
    margin-block-start: 20px;
    background-color: transparent;
    color: $main-theme-clr;
  }
}
