// Main
$main-font-clr: rgb(50, 51, 56);
$surface-clr: rgb(236, 239, 248);
$main-bg-clr: rgb(255, 255, 255);

// Layout
$app-header-height: 50px;

// Colors
$btn-delete-clr: rgb(252, 109, 109);
$btn-edit-clr: rgb(73, 222, 170);

$clr-success: rgb(152, 232, 152);
$clr-error: rgb(243, 150, 150);

// MQ
$break-mobile: 450px;
$break-small: 600px;
$break-narrow: 750px;
$break-normal: 1000px;
