// Main
$main-font-clr: rgb(50, 51, 56);
$secondary-font-clr: rgb(174, 175, 180);
$surface-clr: rgb(236, 239, 248);
$main-bg-clr: rgb(255, 255, 255);
$main-border-clr: rgb(208, 212, 228);

// Layout
$app-header-height: 50px;

// Colors
$main-theme-clr: rgb(56, 112, 232);
$active-filter-clr: rgb(196, 215, 255);
$btn-delete-clr: rgb(252, 109, 109);
$btn-edit-clr: rgb(73, 222, 170);
$picker-btn-border-clr: rgb(118, 118, 118);

// Categories
:root {
  --category-food-clr: rgb(239, 201, 104);
  --category-transport-clr: rgb(234, 252, 119);
  --category-entertainment-clr: rgb(195, 248, 115);
  --category-utilities-clr: rgb(251, 175, 128);
  --category-savings-clr: rgb(246, 121, 121);
  --category-other-clr: rgb(118, 190, 250);
}

// User msg
$clr-success: rgb(0, 133, 77);
$clr-error: rgb(246, 139, 139);

// Design
$el-br: 8px;
$cmp-br: 16px;
$main-box-shadow: -5px 2px 13px 0px rgba(92, 92, 92, 0.267);

// MQ
$break-mobile: 450px;
$break-small: 650px;
// $break-narrow: 750px;
$break-normal: 1000px;
