* {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem; // Root font size - 10px
  color: $main-font-clr;
  background-color: $surface-clr;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select {
  font-family: inherit;
}
