.expense-filter {
  position: relative;

  .filter-fieldset {
    align-items: end;

    border: 2px solid $main-theme-clr;
    border-radius: $el-br;
    padding: em(10px) em(15px);
    margin: 0;
    margin-block-end: em(20px);

    legend {
      padding-inline: 10px;
      font-size: em(22px);
      font-family: FigtreeMedium;
    }

    .filter-container {
      width: 100%;
      gap: em(20px);

      > * {
        flex-grow: 1;
      }

      @include for-small-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
          'title title'
          'date category';
      }

      margin-block-start: 1rem;

      .input-container {
        position: relative;
        gap: em(5px);

        @include for-small-layout {
          &.title {
            grid-area: title;
          }

          &.date {
            grid-area: date;
          }
          &.category {
            grid-area: category;
          }
        }

        label,
        p {
          font-family: FigtreeMedium;
          font-size: em(16px);
        }

        input,
        select {
          padding-block: 4px;
        }

        .btn-open-picker {
          padding-block: 5px;
          border: 1px solid $picker-btn-border-clr;
          background-color: transparent;
        }

        .date-picker-container {
          position: absolute;
          top: 60px;

          --animate-duration: 0.5s;
          box-shadow: 0px 6px 12px 3px rgba(147, 147, 147, 0.408);
        }

        > *.active {
          background-color: $active-filter-clr;
        }
      }
    }

    .btn-clear-filter {
      @include btnTheme(8px, 12px);
      margin-inline-start: em(13px);
      border-radius: $el-br;

      &::after {
        font-family: faSolid;
        content: '\f00d';
      }

      @include for-small-layout {
        position: absolute;
        top: 22px;
        right: 10px;
      }
    }
  }
}
