.expense-edit {
  position: fixed;
  top: $app-header-height;
  right: 0;

  width: 600px;
  height: calc(100dvh - $app-header-height);
  overflow-y: scroll;

  background-color: $main-bg-clr;
  box-shadow: -5px 2px 13px 0px rgba(92, 92, 92, 0.267);
  z-index: 1;

  .btn-back {
    @include scalableBtn;
    background-color: transparent;
    margin: em(10px);

    &::after {
      font-family: faSolid;
      content: '\f060';
      font-size: em(16px);
    }
  }

  .main-content {
    width: 100%;
    padding-inline: em(20px);
    margin-block-end: em(30px);

    .edit-heading {
      margin-block-end: rem(40px);
      font-size: em(24px);
      font-family: FigtreeBold;
    }

    form {
      width: 100%;
      display: grid;
      row-gap: em(20px);

      .input-container {
        gap: em(5px);

        label {
          font-family: FigtreeMedium;
          font-size: em(16px);
        }

        input {
          @include overflowText;
          padding-block: em(4px);
        }
      }

      .optional {
        font-family: FigtreeLight;
        font-size: rem(20px);
      }

      .category-title,
      .date-title {
        font-family: FigtreeMedium;
        font-size: em(16px);
      }

      .categories-container {
        gap: em(10px);
        flex-wrap: wrap;

        .btn-category {
          @include scalableBtn;
          flex: 1 0 33%;

          padding: em(8px) em(16px);
          border-radius: $el-br;
          font-size: em(16px);

          &.active {
            outline: 2px solid black;
          }

          &:not(.active) {
            opacity: 0.6;
          }

          &.food {
            background-color: var(--category-food-clr);
          }

          &.transport {
            background-color: var(--category-transport-clr);
          }

          &.entertainment {
            background-color: var(--category-entertainment-clr);
          }

          &.utilities {
            background-color: var(--category-utilities-clr);
          }

          &.savings {
            background-color: var(--category-savings-clr);
          }

          &.other {
            background-color: var(--category-other-clr);
          }
        }
      }

      .btn-submit {
        @include scalableBtn;
        @include btnTheme;

        border-radius: $el-br;
        margin-block-start: em(20px);

        font-size: em(14px);
        justify-self: end;

        &:hover {
          background-color: darken($main-theme-clr, 10%);
        }

        &:disabled {
          @include disabledBtn;
        }
      }
    }
  }
}
