.expense-filter {
  .filter-fieldset {
    border: 2px solid $main-theme-clr;
    border-radius: $el-br;
    padding: em(10px) em(15px);
    margin: 0;
    margin-block-end: em(20px);

    legend {
      font-size: em(22px);
      font-family: FigtreeMedium;
    }

    .filter-container {
      gap: em(20px);

      .input-container {
        position: relative;
        gap: em(5px);

        label,
        p {
          font-family: FigtreeMedium;
          font-size: em(16px);
        }

        input,
        select {
          padding-block: 4px;
        }

        .btn-open-picker {
          padding-block: 5px;
          border: 1px solid $picker-btn-border-clr;
          background-color: transparent;
        }

        .date-picker-container {
          position: absolute;
          top: 60px;

          --animate-duration: 0.5s;
          box-shadow: 0px 6px 12px 3px rgba(147, 147, 147, 0.408);
        }
      }
    }
  }
}
