.expense-preview {
  padding: em(8px) em(16px);
  border-radius: 2em;
  margin-inline: em(10px);

  background-color: lightblue;
  transition: transform 0.3s;

  &:hover {
    transform: translateX(10px);

    .actions-container {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .expense-txt {
    font-size: em(18px);

    .expense-amount {
      font-family: FigtreeBold;
    }
  }

  .actions-container {
    gap: 1em;

    opacity: 0;
    transition: all 0.4s;

    .btn {
      border-radius: 50%;
      width: 32px;

      height: 32px;
      font-size: em(14px);

      &::after {
        font-family: faSolid;
      }

      &.btn-edit {
        background-color: $btn-edit-clr;

        &:hover {
          background-color: darken($btn-edit-clr, 15%);
        }

        &::after {
          content: '\f044';
        }
      }

      &.btn-delete {
        background-color: $btn-delete-clr;

        &:hover {
          background-color: darken($btn-delete-clr, 15%);
        }

        &::after {
          content: '\f1f8';
        }
      }
    }
  }
}
