.expense-preview {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 20px 30px auto;
  grid-template-areas:
    'txt amount'
    'at at'
    'category actions';

  padding-block-end: em(10px);
  border-block-end: 1px solid $main-border-clr;

  &:hover {
    .actions-container {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .expense-txt {
    grid-area: txt;
  }

  .expense-amount {
    grid-area: amount;
    justify-self: end;
  }

  .expense-category {
    grid-area: category;
    justify-self: start;
    align-self: end;

    padding: rem(10px);
    border-radius: $el-br;

    font-size: em(14px);
  }

  .expense-at {
    font-size: em(16px);
    grid-area: at;
  }

  .bold-detail {
    font-size: em(20px);
    font-family: FigtreeMedium;
  }

  .btn-no {
    button {
      @include scalableBtn;
      justify-self: start;

      font-size: em(12px);
      color: $secondary-font-clr;

      background-color: transparent;
    }

    &:hover {
      color: $main-font-clr;
    }

    &.no-category {
      grid-area: category;
      align-self: end;
    }

    &.no-date {
      grid-area: at;
    }
  }

  .actions-container {
    grid-area: actions;
    justify-self: end;
    gap: 1em;

    margin-block-start: em(7px);

    opacity: 0;
    transform: translateX(20px);
    transition: all 0.4s;

    .btn {
      border-radius: 50%;
      width: 32px;

      height: 32px;
      font-size: em(14px);

      &::after {
        font-family: faSolid;
      }

      &.btn-edit {
        background-color: $btn-edit-clr;

        &:hover {
          background-color: darken($btn-edit-clr, 15%);
        }

        &::after {
          content: '\f044';
        }
      }

      &.btn-delete {
        background-color: $btn-delete-clr;

        &:hover {
          background-color: darken($btn-delete-clr, 15%);
        }

        &::after {
          content: '\f1f8';
        }
      }
    }
  }
}
