.app-header {
  height: $app-header-height;
  padding-inline: em(16px);

  .title-container {
    gap: em(10px);

    .main-heading {
      font-family: FigtreeBold;
      font-size: em(32px);
    }
  }

  .user-container {
    gap: em(10px);

    .user-greet {
      font-size: 1.6rem;
    }
  }

  .btn-logout {
    @include btnTheme(10px, 20px);
    @include scalableBtn;

    border-radius: $el-br;
    font-family: FigtreeBold;
  }
}
