.app-header {
  height: $app-header-height;
  padding-inline: em(30px);

  .title-container {
    gap: em(10px);

    .main-heading {
      font-family: FigtreeBold;
      font-size: em(32px);
    }
  }

  .user-container {
    gap: em(20px);

    .user-greet {
      font-size: 1.6rem;

      @include for-mobile-layout {
        display: none;
      }
    }
  }

  .btn-logout {
    @include btnTheme(10px, 20px);
    @include scalableBtn;

    border-radius: $el-br;
    font-family: FigtreeBold;

    &::before {
      font-family: faSolid;
      content: '\f52b';
      margin-inline-end: 8px;
    }
  }
}
